*{margin:0;padding:0;box-sizing:border-box;}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    font-family:Arial;
}

header{
    text-align:center;
    padding:20px;
    background:#2563eb;
}

#topBar{
    display:flex;
    justify-content:center;
    gap:15px;
    padding:15px;
}

.stat{
    background:#1e293b;
    padding:12px;
    border-radius:10px;
}

#mainLayout{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:20px;
}

#shop,#towerPanel{
    width:240px;
    background:#1e293b;
    padding:15px;
    border-radius:15px;
}

.shopBtn{
    width:100%;
    margin-bottom:8px;
    padding:10px;
    border:none;
    background:#334155;
    color:white;
    cursor:pointer;
}

.shopBtn:hover{background:#475569;}

#startWave{
    width:100%;
    padding:12px;
    background:#22c55e;
    border:none;
    color:white;
    cursor:pointer;
}

.link{
    display: flex;
    justify-content: center; /* poziomo */
    align-items: center;     /* pionowo */
}

#gameCanvas{
    background:#65a30d;
    border:4px solid white;
}
